html, body {
    margin: 0;
    padding: 0;
}
body {
    border-top: 5px solid #920E16;
    font-family: arial;
    background-color: #dddddd;
}
header {
    font-size: 2em;
    padding: 1em 1em 0 1em;
    color: #920E16;
}
subheader {
    color: #920E16;
    padding-left: 3em;
}
table {
    padding: 3em;
    border-collapse: all;
    display: block;
    width: 100%;
}
td {
    width: 50%;
    vertical-align: top;
}
iframe {
    position: relative;
}
#play-random-piece iframe {
    left: 3em;
}
ttl {
    display: block;
    font-size: 1.5em;
    color: #920E16;
}
bdy {
    display: block;
    padding-left: 1em;
}
#revealIt {
    display: block;
    padding: 0.5em;
    font-weight: bold;
    background-color: orange;
    color: darkblue;
    cursor: pointer;
    border-radius: 10px;
}
#revealerContent {
    display: block;
    color: black;
    background-color: orange;
    padding: 0.5em;
}
#play-random-pieces {
    font-size: 1.5em;
}
pieceInfo {
    display: block;
}
